<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.rele.relayconfig">

    <uses-sdk tools:overrideLibrary="com.github.ik024.calendar_lib" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Not sure if these are needed. Try to take them out later -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ManageCalendarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CycleEditActivity" />
        <activity android:name=".CycleCalendarActivity" />
        <activity android:name=".CalendarOverviewActivity" />
        <activity android:name=".CycleNameActivity" />
        <activity android:name=".ManageCyclesActivity" />
        <activity android:name=".SelectDeviceWifiActivity"></activity>
    </application>

</manifest>